header.main-header {
  .header-logo-wrapper {
    .header-logo {
      @media only screen and (max-width: 768px) {
        transform: scale(.75);
      }
    }
  }
  .logo-heading {
    font-size: 18px;
    margin-left: 8px;
    @media only screen and (max-width: 768px) {
      font-size: 16px;
      margin-left: 4px;
    }
    @media only screen and (max-width: 350px) {
      display: none;
    }
  }
  nav.navbar {
    .navbar-toggler {
      &-icon {
        width: 24px;
        background-image: url('/menu-24px.svg');
        background-repeat: no-repeat;
      }
    }
    .navbar-collapse {
      &.show {
        margin-top: 8px;
        .navbar-nav {
          .nav-item {
            text-align:center;
            .nav-link {
            }
          }
        }
      }
    }
  }

}
